@{
	Layout="Shared/_Layout.cshtml";
}
<h1>@Model.GetName()</h1>
<p>Delete this client?</p>
<form action="/client_delete/@Model.GetId()" method="post" class="form-group">
  <input type="hidden" name="_method" value="DELETE" class="form-control">
  <button type="submit">Delete</button>
</form>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/">Home</a></p>
