@{
	Layout="Shared/_Layout.cshtml";
}
<h1>Add New Client</h1>
<form action="/clients/new" method="post" class="form-group">
  <div>
    <label for="id" <p>Which stylist do you want to add a client to?</p><label>
    <select name="id" class="form-control">
      @foreach(var stylist in Model)
      {
        <option value="@stylist.GetId()">@stylist.GetName()</option>
      }
    </select>
  </div>
  <div>
    <label for="name"><p>What is the clients name?</p></label>
    <input name="name" type="text" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Add a client</button>
</form>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/">Home</a></p>
