<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1>Jesse's Hair Salon</h1>
    <h3><a href="/stylists">View All Stylists</a></h3>
    <h3><a href="/stylists/new">Add New Stylist</a></h3>
    <h3><a href="/clients/new">Add New Client</a></h3>
  </body>
</html>
