<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <form action="/stylists/new" method="post">
      <div class="form-group">
        <label for="name">Add a stylists name</label>
        <input name="name" type="text" class="form-control">
      </div>
      <button type="submit" class="btn">Add Stylist</button>
    </form>
  </body>
</html>
