<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Add New Stylist</h1>
    <form action="/stylists/new" method="post">
      <p>Enter a new name:</p>
      <div class="form-group">
        <label for="name">New Name:</label>
        <input name="name" type="text" class="form-control">
      </div>
      <button type="submit" class="btn">Add Stylist</button>
    </form>
    <p><a href "/stylists">View Stylists</a></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
