@{
	Layout="Shared/_Layout.cshtml";
}
<h1>Edit Stylist Name: @Model.GetName()</h1>
<p>What would you like the new name to be?</p>
<form action="/stylist/edit/@Model.GetId()" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="PATCH">
  </div>
  <div class="form-group">
    <input name="id" type="hidden" value="@Model.GetId()">
    <label for="name">New Name:</label>
    <input name="name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
<br>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/">Home</a></p>
