@{
	Layout="Shared/_Layout.cshtml";
}
<h1>Stylist: @Model.GetName()</h4>
<h3>Current Clients:</h3>
<ul>
@foreach(var client in Model.GetClients())
{
  <li>
    <a href="/client/@client.GetId()">@client.GetName()</a> |
    <a href="/client_edit/@client.GetId()">Update</a> |
    <a href="/client_delete/@client.GetId()">Delete</a>
  </li>
}
</ul>
<p><a href="/clients/new">Add New Client</a></p>
<p><a href="/">Home</a></p>
