@{
	Layout="Shared/_Layout.cshtml";
}
<h1>Add New Stylist</h1>
<form action="/stylists/new" method="post">
  <div class="form-group">
    <label for="name">New Name:</label>
    <input name="name" type="text" class="form-control" required>
  </div>
  <button type="submit" class="btn">Add Stylist</button>
</form>
<br>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/">Home</a></p>
