@{
	Layout="Shared/_Layout.cshtml";
}
<h1>Stylist: @Model.GetName()</h1>
<p>Delete this stylist?</p>
<form action="/stylist/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Submit</button>
</form>
<br>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/">Home</a></p>
