<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Success!<h1>
    <p>You've added a new stylist.</p>
    <h3><a href="/stylists">View Stylists</a></h3>
    <a href="/">Home</a>
  </body>
</html>
